In [2]:
from  openpyxl import load_workbook 
import pandas as pd

In [4]:
wb = load_workbook(filename = 'penumpangtransjogja.xlsx') 
sheet_ranges = wb['Sheet1']

df = pd.DataFrame(sheet_ranges.values)
df

                0         1            2           3       4       5
0           Halte  Kode bus          Jam  jml di bus  masuk   keluar
1          Musper      1B.1  05.00-06.00           0       0       0
2          Musper      1B.2  06.00-07.00           9       0       3
3          Musper      1B.3  07.00-08.00           7       0       4
4          Musper      1B.4  08.00-09.00          20       3      14
5          Musper      1B.5  09.00-10.00          49       9      30
6   Condong catur      1B.6  10.00-11.00         117      12      82
7       Binamarga      1B.7  11.00-12.00          72      38      80
8             JEC      1B.8  12.00-13.00         120      69      37
9       Malioboro      1B.9  13.00-14.00          35       0       0
10         Musper     1B.10  14.00-15.00           0       0       0
11         Musper     1B.11  15.00-16.00           0       0       0
12  Condong catur     1B.12  16.00-17.00           0       0       0
13      Binamarga     1B.13  17.00-18.00           0       0       0
14            JEC     1B.14  18.00-19.00           0       0       0
15         Musper     1B.15  19.00-20.00           0       0       0
16         Musper     1B.16  20.00-21.00           0       0       0
17         Musper      2B.1  05.00-06.00           1       1       0
18  Condong catur      2B.2  06.00-07.00          14       5       4
19      Binamarga      2B.3  07.00-08.00          27       5       2
20            JEC      2B.4  08.00-09.00          27       7       9
21      Malioboro      2B.5  09.00-10.00          66      18      13
22         Musper      2B.6  10.00-11.00          53      40      29
23         Musper      2B.7  11.00-12.00         120      43      42
24         Musper      2B.8  12.00-13.00         158      38      60
25         Musper      2B.9  13.00-14.00           8      15       0
26  Condong catur     2B.10  14.00-15.00          18       9       3
27      Binamarga     2B.11  15.00-16.00          12      11       2
28            JEC     2B.12  16.00-17.00          18      12       7
29      Malioboro     2B.13  17.00-18.00          17      10       7
30         Musper     2B.14  18.00-19.00           7      21       2
31         Musper     2B.15  19.00-20.00          11       7       2
32         Musper     2B.16  20.00-21.00           4       4       1
33         Musper      3B.1  05.00-06.00           0       0       0
34  Condong catur      3B.2  06.00-07.00           0       0       0
35      Binamarga      3B.3  07.00-08.00           0       0       0
36            JEC      3B.4  08.00-09.00           0       0       0
37      Malioboro      3B.5  09.00-10.00           0       0       0
38         Musper      3B.6  10.00-11.00           0       0       0
39         Musper      3B.7  11.00-12.00           0       0       0
40         Musper      3B.8  12.00-13.00           0       0       0
41         Musper      3B.9  13.00-14.00          18       0       8
42  Condong catur     3B.10  14.00-15.00          20       4      10
43      Binamarga     3B.11  15.00-16.00          21       4      11
44            JEC     3B.12  16.00-17.00          37       4      14
45      Malioboro     3B.13  17.00-18.00          43       3      18
46         Musper     3B.14  18.00-19.00          25       4      15
47      Malioboro     3B.15  19.00-20.00          18       0       4
48         Musper     3B.16  20.00-21.00          18       0       7

In [14]:
d = df[1:16] [[0,1,2,3,4,5]] 

d.columns = ['Halte','Kode Bus','Jam','Jml dibus','masuk','Keluar']
d

            Halte Kode Bus          Jam Jml dibus masuk Keluar
1          Musper     1B.1  05.00-06.00         0     0      0
2          Musper     1B.2  06.00-07.00         9     0      3
3          Musper     1B.3  07.00-08.00         7     0      4
4          Musper     1B.4  08.00-09.00        20     3     14
5          Musper     1B.5  09.00-10.00        49     9     30
6   Condong catur     1B.6  10.00-11.00       117    12     82
7       Binamarga     1B.7  11.00-12.00        72    38     80
8             JEC     1B.8  12.00-13.00       120    69     37
9       Malioboro     1B.9  13.00-14.00        35     0      0
10         Musper    1B.10  14.00-15.00         0     0      0
11         Musper    1B.11  15.00-16.00         0     0      0
12  Condong catur    1B.12  16.00-17.00         0     0      0
13      Binamarga    1B.13  17.00-18.00         0     0      0
14            JEC    1B.14  18.00-19.00         0     0      0
15         Musper    1B.15  19.00-20.00         0     0      0

In [15]:
d[['Halte']]

            Halte
1          Musper
2          Musper
3          Musper
4          Musper
5          Musper
6   Condong catur
7       Binamarga
8             JEC
9       Malioboro
10         Musper
11         Musper
12  Condong catur
13      Binamarga
14            JEC
15         Musper

In [16]:
d[:16]

            Halte Kode Bus          Jam Jml dibus masuk Keluar
1          Musper     1B.1  05.00-06.00         0     0      0
2          Musper     1B.2  06.00-07.00         9     0      3
3          Musper     1B.3  07.00-08.00         7     0      4
4          Musper     1B.4  08.00-09.00        20     3     14
5          Musper     1B.5  09.00-10.00        49     9     30
6   Condong catur     1B.6  10.00-11.00       117    12     82
7       Binamarga     1B.7  11.00-12.00        72    38     80
8             JEC     1B.8  12.00-13.00       120    69     37
9       Malioboro     1B.9  13.00-14.00        35     0      0
10         Musper    1B.10  14.00-15.00         0     0      0
11         Musper    1B.11  15.00-16.00         0     0      0
12  Condong catur    1B.12  16.00-17.00         0     0      0
13      Binamarga    1B.13  17.00-18.00         0     0      0
14            JEC    1B.14  18.00-19.00         0     0      0
15         Musper    1B.15  19.00-20.00         0     0      0

In [39]:
d[['Kode Bus']] [:10]

   Kode Bus
1      1B.1
2      1B.2
3      1B.3
4      1B.4
5      1B.5
6      1B.6
7      1B.7
8      1B.8
9      1B.9
10    1B.10

In [37]:
d.sort_values(['Halte'], ascending=[0])[:10]

        Halte Kode Bus          Jam Jml dibus masuk Keluar
1      Musper     1B.1  05.00-06.00         0     0      0
2      Musper     1B.2  06.00-07.00         9     0      3
3      Musper     1B.3  07.00-08.00         7     0      4
4      Musper     1B.4  08.00-09.00        20     3     14
5      Musper     1B.5  09.00-10.00        49     9     30
10     Musper    1B.10  14.00-15.00         0     0      0
11     Musper    1B.11  15.00-16.00         0     0      0
15     Musper    1B.15  19.00-20.00         0     0      0
9   Malioboro     1B.9  13.00-14.00        35     0      0
8         JEC     1B.8  12.00-13.00       120    69     37